In [1]:
import numpy as np
import pandas as pd

# for Data Visualizations
import seaborn as sns
import matplotlib.pyplot as plt

# setting up the background style
plt.style.use('fivethirtyeight')

In [10]:
df = pd.read_excel('data.xlsx')
df.shape

(1143, 11)

In [13]:
df.head(10)

,ad_id,xyz_campaign_id,fb_campaign_id,age,gender,interest,Impressions,Clicks,Spent,Total_Conversion,Approved_Conversion
0,708746,916,103916,30-34,M,15,7350,1,1.43,2,1
1,708749,916,103917,30-34,M,16,17861,2,1.82,2,0
2,708771,916,103920,30-34,M,20,693,0,0.00,1,0
3,708815,916,103928,30-34,M,28,4259,1,1.25,1,0
4,708818,916,103928,30-34,M,28,4133,1,1.29,1,1
5,708820,916,103929,30-34,M,29,1915,0,0.00,1,1
6,708889,916,103940,30-34,M,15,15615,3,4.77,1,0
7,708895,916,103941,30-34,M,16,10951,1,1.27,1,1
8,708953,916,103951,30-34,M,27,2355,1,1.50,1,0
9,708958,916,103952,30-34,M,28,9502,3,3.16,1,0

## Summarized the data

In [14]:
df[['Impressions','Clicks','Spent','Total_Conversion','Approved_Conversion']].describe()
# more the number of ads leads to more conversion

,Impressions,Clicks,Spent,Total_Conversion,Approved_Conversion
count,1.143000e+03,1143.000000,1143.000000,1143.000000,1143.000000
mean,1.867321e+05,33.390201,51.360656,2.855643,0.944007
std,3.127622e+05,56.892438,86.908418,4.483593,1.737708
min,8.700000e+01,0.000000,0.000000,0.000000,0.000000
25%,6.503500e+03,1.000000,1.480000,1.000000,0.000000
50%,5.150900e+04,8.000000,12.370000,1.000000,1.000000
75%,2.217690e+05,37.500000,60.025000,3.000000,1.000000
max,3.052003e+06,421.000000,639.949998,60.000000,21.000000

In [16]:
#checking missing values
df.isnull().sum()

ad_id                  0
xyz_campaign_id        0
fb_campaign_id         0
age                    0
gender                 0
interest               0
Impressions            0
Clicks                 0
Spent                  0
Total_Conversion       0
Approved_Conversion    0
dtype: int64

In [25]:
#Analyze the campaigns
df.shape

(1143, 11)

In [32]:
print('Number of Unique ads', df['ad_id'].nunique())  #use nunique function
print('Number of Campaigns', df['xyz_campaign_id'].nunique())  
print('Number of Facebook campaign', df['fb_campaign_id'].nunique())
print('Number of Interest Groups', df['interest'].nunique())
print('Number of Age Groups', df['age'].nunique())

Number of Unique ads 1143
Number of Campaigns 3
Number of Facebook campaign 691
Number of Interest Groups 40
Number of Age Groups 4

In [55]:
df.drop(df[['ad_id' ,'xyz_campaign_id']], axis=1, inplace=True)

df.columns

KeyError: "None of [Index(['ad_id', 'xyz_campaign_id'], dtype='object')] are in the [columns]"

In [33]:
df['xyz_campaign_id'].value_counts()

1178    625
936     464
916      54
Name: xyz_campaign_id, dtype: int64

In [54]:
# lets Compare the Conversion, Expense and Visibility among the Campaigns

df[['xyz_campaign_id','Spent','Clicks','Impressions']].groupby(['xyz_campaign_id']).agg('mean')

KeyError: "['xyz_campaign_id'] not in index"